/*css for OE left align:*/
/*dcv1*/
.cCellRowText {
  display: none;
}

/*dcv2*/
ul.numeric-input-question-answers-container li.answer-container {
  flex-direction: row-reverse;
}

/*css to hide HID_JS_ dummy*/
/*dcv1*/
#QID,
.buttonContainer {
  visibility: hidden !important;
}

/*dcv2*/
#pageContainer {
  visibility: hidden !important;
}

/*css hide N/A for a given slider (this example is 1st slider)*/
#slider-holder0 #opt-out-container-0 {
  visibility: hidden;
}

/* qa-codes styling*/
.qa-code {
  color: blue;
  font-size: larger;
  font-weight: bolder;
  padding: 0px 5px 0px 0px;
}
